#chartPanel {
    width: 30%;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    margin-top: 20px;
    float: right;
    overflow: hidden;
  }
  
  #chart {
    border-collapse: collapse;
    width: 100%;
  }
  
  #chart th, #chart td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #chart tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #chart th {
    background-color: #4CAF50;
    color: white;
    overflow: hidden;
  }

body
{
  background-image: url("https://cdn.dribbble.com/users/966681/screenshots/2890732/media/3aef32cd435d242fb7a09f714ab7dac6.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-position: 50% 0;
  animation: slowBackground 20s;
  overflow: hidden;
} 

input[type="text"] {
  width: 200px; 
  height: 20px; 
  border: 1px solid #ccc; 
  padding: 5px; 
  margin: 10px 0; 
  background-color: #f8f8f8; 
  color: #333; 
  font-family: Arial, sans-serif; 
}

input[type="text"] {
  border-radius: 8px; 
  box-shadow: 0px 0px 5px #aaa; 
}

input[type="text"]:focus {
  outline: none; 
  border: 1px solid #0066cc; 
  box-shadow: 0px 0px 5px #0066cc; 
}

input[type="number"] {
  width: 200px; 
  height: 20px; 
  border: 1px solid #ccc; 
  padding: 5px; 
  margin: 10px 0; 
  background-color: #f8f8f8; 
  color: #333; 
  font-family: Arial, sans-serif; 
}

input[type="number"] {
  border-radius: 8px; 
  box-shadow: 0px 0px 5px #aaa; 
}

input[type="number"]:focus {
  outline: none; 
  border: 1px solid #0066cc; 
  box-shadow: 0px 0px 5px #0066cc; 
}


button {
  background-color: #af4c4c; 
  border: none; 
  color: white; 
  padding: 8px 20px; 
  text-align: center; 
  text-decoration: none;
  display: inline-block; 
  font-size: 13px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 10px; 
  box-shadow: 0 5px #666;
}

button:hover {
  background-color: #600000; 
  transform: translateY(4px); 
  box-shadow: 0 0px #666;
}


button:active {
  background-color: #6d6d6d;  
}


button:focus {
  outline: none; 
  border: 1px solid #fff; 
}

/* DROPDOWN CSS */
.dropbtn {
  position: fixed;
  bottom: 1%;
  right: 1%;
  background-color: #221919;
  color: white;
  padding: 13px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  bottom: 8%;
  right: 8%;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 13px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #484848;
}
